@import url('https://fonts.googleapis.com/css2?family=Lemonada&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Crete+Round&display=swap');

body {
  margin: 0;
  background: #d0d1d6;
}

header {
  background: #2D2E2B; 
  color: #FFF9FE;
  border-bottom: solid 4px #E3DF6B;
  position: fixed;
  top: 0;
  width: 100%;
  height: 80px;
  z-index: 2;
  font-family: 'Lemonada', cursive;
}

#name {
  font-size: 18px;
  margin-left: 50px;
  margin-right: 50px;
  padding-left: 30px;
  padding-right: 30px;
  border-left: solid 3px white;
  border-right: solid 3px white;
  letter-spacing: 6px;
  color: #E3DF6B;
}

nav {
  display: block;
  position: relative;
  float: center;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

#menu {
  list-style: none;
  display: flex;
  justify-content: center;
}

li {
  padding: 10px;
  color: #FFF9FE;
  display: inline-block;
  position: relative;
  text-align: center;
  font-family: 'Lemonada', cursive;
}

a {
  color: #FFF9FE;
  text-decoration: none;
  font-size: 19px;
  padding: 5px;
  padding-left: 15px;
  padding-right: 25px;
  text-align: center;
  transition: all .35s;
}

a:after {
  position: absolute;
  content: "";
  top: 27px;
  left: 0;
  width: 0;
  height: 3%;
  background: #E3DF6B;
  color: #E3DF6B;
  transition: all .35s;
}

a span{
  position: relative;
  z-index: 2;
}

a:hover:after{
  width: 100%;
}

main {
  margin-top: 70px;
}

#top {
  width: 100%;
  height: 400px;
  background: #2D2E2B;
  clip-path: polygon(100% 0, 100% 100%, 77% 94%, 73% 83%, 69% 92%, 0 78%, 0 0);
}

#frontImg {
  width: 1000px;
  position: relative;
  top: -350px;
  border-radius: 25px;
  box-shadow: 15px 15px 25px 1px #2D2E2B;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#about{
  width: 100%;
  height: 600px;
  background:  #2D2E2B;
  position: relative;
  top: -200px;
}

.title {
  color: #E3DF6B;
  background:  #2D2E2B;
  text-align: center;
  font-family: 'Lemonada', cursive;
  font-size: 40px;
  letter-spacing: 5px;
}

.title2 {
  color: #2D2E2B;
  text-align: center;
  font-family: 'Lemonada', cursive;
  font-size: 40px;
  letter-spacing: 5px;
  position: relative;
  top: -70px;
}

.shopImg {
  width: 500px;
  height: 700px;
  object-fit: cover;
  float: left;
  position: relative;
  top: -80px;
  margin: 30px;
  clip-path: polygon(20% 0, 100% 0, 100% 86%, 79% 100%,  0 100%, 0 15%);
}

.aboutText {
  background: #FFF9FE;
  color: #2D2E2B;
  font-size: 25px;
  font-family: 'Crete Round', serif;
  margin-left: 40%;
  margin-right: 7%;
  padding: 30px;
}

#offers {
  width: 100%;
  height: 900px;
  margin: 0;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
  justify-items: center;
}

.description {
  width: 400px;
  height: 800px;
  margin: 15px;
  background: #FFF9FE;
  padding: 20px;
  box-shadow: 15px 15px 25px 1px #2D2E2B;
  color: #2D2E2B;
  font-family: 'Crete Round', serif;
  font-size: 18px;
  text-align: center;
}

.description img {
  height: 270px;
  object-fit: cover;
  clip-path: polygon(20% 0, 100% 0, 100% 86%, 79% 100%,  0 100%, 0 15%);
}

.description:hover .tr{
  animation-name: triangle;
  clip-path: polygon(0% 0%, 0% 100%, 25% 100%, 0 0, 75% 25%, 75% 75%, 14% 75%, 25% 100%, 100% 100%, 100% 0%);
  animation-duration: 2s;
}

.tr {
  background: #E3DF6B;
  height: 200px;
  width: 200px;
  clip-path: polygon(0% 0%, 0% 100%, 25% 100%, 25% 25%, 75% 25%, 75% 75%, 25% 75%, 25% 100%, 100% 100%, 100% 0%);
  transform: rotate(45deg);
  position: relative;
  top: -120px;
  left: 30%;
}

@keyframes triangle {
  from {
    clip-path: polygon(0% 0%, 0% 100%, 25% 100%, 25% 25%, 75% 25%, 75% 75%, 25% 75%, 25% 100%, 100% 100%, 100% 0%);
  } to {
    clip-path: polygon(0% 0%, 0% 100%, 25% 100%, 0 0, 75% 25%, 75% 75%, 14% 75%, 25% 100%, 100% 100%, 100% 0%);
  }
}

@media only screen and (max-width: 1400px) {
  .description {
    width: 250px;
    height: 800px;
    float: right;
    top: -200px;
    right: 300px;
  }
  
  .tr {
  background: #E3DF6B;
  height: 200px;
  width: 200px;
  top: -120px;
  left: 10%;
}
  
  a {
    font-size: 14px;
  }
  
  #name {
    font-size: 18px;
  }
}